*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table{
	border-spacing: 0;
}

thead :first-child{
	font-weight: bold;
}

tr :first-child{
	font-weight: bold;
}

tbody td{
	border-top: 1px solid silver;
	padding: 5px 80px 5px 5px;
}

th{
	padding: 5px 80px 5px 5px;
	background-color: black;
	color: white;
}

tfoot td{
	border-top: 1px solid black;
	padding: 5px 5px;
	background-color: #f8f9fb;
}

tfoot{
	font-weight: bold;
}
